* {
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}
body {
  margin: 0;
  overflow-x: hidden;
}
header {
  max-width: 1440px;
  margin: 0 auto;
  background: url(./images/background.jpg), lightgray 50% / cover no-repeat;
  background-position-x: -329px;
  background-position-y: -220px;
  background-size: 1920px 1063px;
  padding-top: 40px;
  position: relative;
  z-index: 0;
}
header::before {
  content: "";
  position: absolute;
  bottom: 0;
  background: linear-gradient(
    0deg,
    rgba(0, 52, 101, 0.72) 0%,
    rgba(0, 0, 0, 0) 100%
  );
  z-index: -1;
  width: 1440px;
  height: 401.28px;
}
nav {
  width: 1194px;
  height: 92px;
  border-radius: 18px;
  background: #fff;
  margin: 0 auto;
}
.navbar__list {
  display: flex;
  gap: 84px;
  padding: 19px 49px;
  align-items: center;
  justify-content: center;
  margin: 0;
  width: 1194px;
  height: 92px;
  border-radius: 18px;
  background: #fff;
  list-style: none;
}
.navbar__list-item a {
  text-decoration: none;
  color: #262626;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.navbar__list-item a:hover {
  color: #65aef2;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.title {
  color: #fff;
  font-size: 64px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  max-width: 1194px;
  margin: 285px auto 57px;
}
.slide-dot {
  display: flex;
  gap: 12px;
  justify-content: center;
}
.slide-dot div {
  width: 8px;
  height: 8px;
  background-color: #fff;
  border-radius: 50%;
  margin-bottom: 22px;
}
.slide-dot div:hover {
  background-color: #65aef2;
}
.booking-box {
  width: 1194px;
  margin: 80px auto;
  border-radius: 42px;
  background: #e9f3f6;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.booking-box__text {
  text-align: center;
  margin-bottom: 92px;
}
.booking-box__text-h2 {
  color: #000;
  text-align: center;
  font-size: 32px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin: 36px 0 9px 0;
}
.booking-box__text-h3 {
  color: #5e5e5e;
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin: 0;
}
.booking-box__check-box {
  display: flex;
  gap: 67px;
  margin-bottom: 65px;
}
.booking-box__check-box-date {
  position: relative;
  width: 265px;
  height: 60px;
}
.booking-box__check-box-person {
  display: flex;
  gap: 40px;
  justify-content: center;
  border-radius: 12px;
  background: #fff;
  width: 433px;
  height: 60px;
  padding: 18px 0;
  position: relative;
}
.booking-box__check-box-person-item {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 18px;
}
.booking-box__check-box-button {
  border: none;
  background: none;
}
.booking-box__check-box-button a {
  border-radius: 12px;
  background: #65aef2;
  color: #fff;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-decoration: none;
  padding: 15px 32px;
}
input[type="date"]:focus-visible {
  outline: none;
}
input[type="date"] {
  padding: 18px 50px;
  height: 60px;
  border: none;
  border-radius: 12px;
  background: #fff;
  display: flex;
  flex-direction: row-reverse;
  gap: 20px;
  position: relative;
  z-index: 2;
}
input[type="date"]::-webkit-calendar-picker-indicator {
  background: url(./images/calendar.svg) no-repeat;
  width: 20px;
  height: 20px;
  color: rgba(0, 0, 0, 0);
  opacity: 1;
  display: block;
}
input[type="text"] {
  padding: 18px 50px;
  border: none;
  border-radius: 12px;
  background: #fff;
  height: 60px;
}
input::placeholder {
  color: #1e1e1e;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  position: absolute;
  right: 50px;
}
.booking-box__check-box-date > img {
  position: absolute;
  top: 18px;
  left: 50px;
}
.booking-box__check-box-date > img:hover {
  display: none;
}
input[type="number"] {
  background: none;
  border: none;
  max-width: 40px;
  color: #1e1e1e;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
input[type="number"]:focus-visible {
  outline: none;
}
.booking-box__check-box-date-label {
  position: absolute;
  top: -32px;
  color: #000;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.booking-box__check-box-person-label {
  position: absolute;
  top: -32px;
  left: 0;
  color: #000;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.facilities__card-img-1 {
  width: 400px;
  height: 760px;
  object-fit: cover;
  border-radius: 42px;
}

.facilities__card-img {
  width: 400px;
  height: 360px;
  object-fit: cover;
  border-radius: 42px;
}
.facilities {
  max-width: 1440px;
  margin: 80px auto;
  display: grid;
  grid-template-columns: auto auto auto;
  justify-content: center;
  gap: 40px;
  background: #f3f3f3;
  padding: 50px 80px;
}
.facilities__card-1 {
  grid-row: 1 / span 2;
  display: flex;
  justify-content: center;
  z-index: 0;
  position: relative;
}
.facilities__card-1::before {
  content: "";
  background: linear-gradient(
    0deg,
    rgba(0, 0, 0, 0.5) 0%,
    rgba(0, 0, 0, 0) 50%
  );
  position: absolute;
  z-index: 1;
  width: 400px;
  height: 760px;
  border-radius: 42px;
}
.facilities__card-title {
  position: absolute;
  z-index: 1;
  top: 254px;
  color: #fff;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-align: center;
}
.facilities__card-title-1 {
  position: absolute;
  z-index: 1;
  bottom: 65px;
  color: #fff;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-align: center;
}
.facilities__card {
  position: relative;
  display: flex;
  justify-content: center;
}
.facilities__card::before {
  content: "";
  background: linear-gradient(
    0deg,
    rgba(0, 0, 0, 0.5) 0%,
    rgba(0, 0, 0, 0) 50%
  );
  position: absolute;
  z-index: 1;
  width: 400px;
  height: 360px;
  border-radius: 42px;
}
.special-offers {
  max-width: 1440px;
  margin: auto;
}
.special-offers__text {
  max-width: 1320px;
  margin: auto;
  position: relative;
}
.special-offers__text__h2 {
  margin: 0 20px;
  color: #65aef2;
  font-size: 32px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.special-offers__text__h3 {
  margin: 20px 20px 40px;
  color: #000;
  font-size: 64px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.special-offers__text__h4 {
  margin: 0 20px 80px;
  color: #1e1e1e;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  max-width: 742px;
}
.view-all {
  color: #65aef2;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-decoration: none;
  position: absolute;
  right: 20px;
  top: 90px;
}
.special-offers__card-container {
  display: grid;
  justify-content: center;
  grid-template-columns: auto auto auto;
  column-gap: 60px;
  margin-bottom: 120px;
}
.special-offers__card-container__card-box {
  width: 400px;
  border-radius: 42px;
  background: #fff;
  box-shadow: 0px 4px 60px 0px rgba(0, 52, 101, 0.25);
}
.special-offers__card-image {
  width: 360px;
  height: 280px;
  object-fit: cover;
  border-radius: 24px;
  margin: 20px;
}
.special-offers__card-box-type {
  margin-top: 28px;
  margin-left: 20px;
  color: #5e5e5e;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.special-offers__card-box-title {
  margin: 12px 20px 0;
  width: 360px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.special-offers__card-box-h3 {
  color: #1e1e1e;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.special-offers__card-box-person {
  display: flex;
  gap: 8px;
}
.special-offers__card-box-description {
  margin-top: 20px;
  margin-left: 20px;
  color: #5e5e5e;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.special-offers__card-box-price {
  margin-top: 35px;
  display: flex;
  gap: 8px;
  align-items: baseline;
  justify-content: center;
}
.price {
  color: #1e1e1e;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-bottom: 50px;
}
.price-for {
  color: #1e1e1e;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
footer {
  max-width: 1440px;
  margin: auto;
  background: #1e1e1e;
  position: relative;
  display: flex;
  justify-content: space-between;
}
footer > img {
  position: absolute;
  top: 58px;
  right: 211px;
}
form {
  margin-left: 95px;
  margin-bottom: 215px;
}
form > label {
  display: block;
  color: #fff;
  font-size: 36px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin-bottom: 40px;
  margin-top: 142px;
}
.subscribe {
  display: flex;
}
.subscribe > input::placeholder {
  color: #d9d9d9;
  font-family: Inter;
  font-size: 24px;
  font-style: italic;
  font-weight: 500;
  line-height: normal;
  position: absolute;
  left: 48px;
  bottom: 25px;
}
#email {
  width: 504px;
  height: 80px;
  border-top-left-radius: 12px;
  border-bottom-left-radius: 12px;
  border: none;
  position: relative;
}
#subscribe {
  width: 170px;
  height: 80px;
  border: none;
  border-top-right-radius: 12px;
  border-bottom-right-radius: 12px;
  background: #65aef2;
  color: #fff;
  font-family: Inter;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.footer__menu-container {
  display: flex;
  margin-top: 209px;
  margin-right: 54px;
}
.footer__menu-container > div {
  width: 154px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.footer__menu_item {
  color: #fff;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.copyright {
  position: absolute;
  bottom: 26px;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  text-align: center;
  color: #fff;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.footer__line {
  width: 385px;
  height: 1px;
  background: #434343;
  position: absolute;
  bottom: 70px;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
}
select {
  border: none;
}
